<h2 mat-dialog-title class="center-text">Product Info</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Existing form fields -->
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name" [readonly]="true" required>
      <mat-error>{{validationService.getErrorMessage(getControl("name"))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Description" formControlName="description" [readonly]="true" required>
      <mat-error>{{validationService.getErrorMessage(getControl("description"))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Price" formControlName="price" [readonly]="true" required>
      <mat-error>{{validationService.getErrorMessage(getControl("price"))}}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
<mat-dialog-content>
  <div *ngIf="comments.length > 0">
    <h3>Коментарі:</h3>
    <ul class="comment-list">
    <li *ngFor="let comment of comments" class="comment-item">
    <mat-card>
    <mat-card-content>
    <p>{{ comment.text }}</p>
    <!-- Додайте інші відображення властивостей коментаря за необхідності -->
    </mat-card-content>
    </mat-card>
    </li>
    </ul>
    </div>
  <div *ngIf="comments.length === 0">
    <p>Ще немає коментарів.</p>
  </div>
    <!-- Кнопка для додавання коментаря -->
  <button mat-raised-button color="primary" (click)="addComment()">Додати коментар</button>
</mat-dialog-content>
  